<div class="content-wrapper" style="min-height: 1416.81px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-2">
            <!-- <a routerLink="/cart/add" class="btn btn-primary btn-block">
              <i *ngIf="btnLoadingIcon" class="fa fa-refresh fa-spin"></i> Add Product
            </a> -->
          </div>
          <div class="col-sm-10">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Projects</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Projects</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th>
                          No
                      </th>
                      <th>
                        Consumer
                      </th>
                      <th>
                          Order Placed
                      </th>
                      <th>
                          Payable
                      </th>
                      <th>
                          Delivery
                      </th>
                      <th>
                          Discount
                      </th>
                      <th>
                          Payment Method
                      </th>
                      <th>
                          Address
                      </th>
                      <th>
                        Status
                      </th>
                      <th>
                        Action
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let cart of carts;">
                    <td>
                        #
                    </td>
                    <td>
                      <a>
                          {{ cart.name }}
                          <br>
                          {{ cart.mobileNo }}
                      </a>
                    </td>
                    <td>
                        <a>
                            {{cart.createdAt | date: 'yyyy-MM-dd'}}
                            <br>
                            {{cart.createdAt | date: 'hh:mm a'}}
                        </a>
                    </td>
                    <td>
                      <a>
                          {{ cart.totalPayable }}
                      </a>
                    </td>
                    <td>
                        <a>
                           {{ cart.deliveryCharge }}
                        </a>
                    </td>
                    <td>
                        <a>
                           {{ cart.totalDiscount }}
                        </a>
                    </td>
                    <td>
                        <a>
                           {{ "Payment Method" }}
                        </a>
                    </td>
                    <td>
                        <a>
                           {{ cart.address }}
                        </a>
                    </td>
                    <td>
                      <div class="form-group">
                        <select class="form-control" formControlName="status" (change)="changeStatus(cart.id, changedStatus.value)" #changedStatus>
                          <option *ngFor="let status of statuses" [value]="status" >{{ status }}</option>
                        </select>
                      </div>
                    </td>
                    <td class="project-actions">
                        <!-- <a class="btn btn-primary btn-sm" [routerLink]="['/cart', cart.id]">
                            <i class="fas fa-folder">
                            </i>
                            Details
                        </a> -->
                        <a class="btn btn-primary btn-sm" (click)="cartDetails(cart.id)"><i class="fas fa-folder"></i>Details</a>
                    </td>
                  </tr>
                  
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
        </div>
        <div class="col-sm-12 col-md-7">
          <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
            <ul class="pagination">

              <li  class="paginate_button page-item next" [ngClass]="{'disabled': currentPageNumber < 2}" id="example2_next" (click)="paginationBtnClicked($event, ((currentPageNumber*1)-(1*1)))">
                <a [routerLink]="['/cart',pageSize,'list', ((currentPageNumber*1)-(1*1)) ]" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Previous</a>
              </li>

              <li *ngFor="let inc of collection;" [ngClass]="{'active': currentPageNumber === inc}" [ngClass]="{'active': inc == currentPageNumber}" (click)='currentPageNumber = inc;' class="paginate_button page-item" (click)="paginationBtnClicked($event, inc)">
                <a [routerLink]="['/cart',pageSize,'list', inc ]" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">{{ inc }}</a>
              </li>

              <li  class="paginate_button page-item next" [ngClass]="{'disabled': currentPageNumber >= totalNumberOfPage}" id="example2_next" (click)="paginationBtnClicked($event, ((currentPageNumber*1)+(1*1)))">
                <a [routerLink]="['/cart',pageSize,'list', ((currentPageNumber*1)+(1*1)) ]" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>