.hideColumn{
    display: none;
}

.visibleColumn{
    display: table-cell;
}

.table td{
    padding: .25rem;
}

@media print
{
body * { visibility: hidden; }
.invoice * { visibility: visible; }
.invoice { position: absolute; top: 40px; left: 30px; }
}